- content_for :nav do
  = "#{pluralize(@questions_left, 'question')} left"

- vote_path = path_for(action: "vote", quiz_id: @quiz, n: @question_number)
= render partial: "shared/question", locals: { vote_path: vote_path }
