@import "bourbon";
@import "variables";
@import "reset";
@import "questions";

$nav-margin: 220px;
$top-margin: 30px;

body {
  background: $alt-dark-color;
  color: $text-color;
  font-family: Georgia, serif;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#main {
  background: $bg-color;
  min-height: 300px;
  padding-bottom: 150px;
}

.content {
  position: relative;
  padding: $top-margin 0 0 $nav-margin;
  margin: 0 auto;
  width: 760px;
  font-size: 24px;
  line-height: 1.4;
}

nav {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;

  li {
    display: block;
    margin: 10px 0;

    a {
      background: $dark-color no-repeat 50% 50%;
      color: $grey-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 17px 19px;
      font-weight: 600;
      letter-spacing: 0.02em;
    }
  }
}

#logo {
  width: 158px;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.8px;

  em {
    color: $red-color;
  }

  span {
    display: block;
    margin: 12px;
  }

  a {
    display: block;
    background-color: $dark-color;
    padding: 10px 5px;
    color: $text-color;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

#footer {
  padding: 40px 0px 40px;

  li {
    margin-top: 15px;
  }

  .label-title {
    font-size: 10px;
  }

  .content {
    border-top: 3px solid $light-color;
  }

  .share {
    position: absolute;
    top: 0;
    left: 0;
    width: 158px;
    padding: $top-margin 0 0 0;

    li {
      width: 46px;
      height: 54px;
      display: inline-block;
      margin-right: 10px;
      text-indent: -9999px;
      overflow: hidden;

      &:last-child {
        margin-right: 0;
      }

      a {
        height: 100%;
        background: $dark-color no-repeat 50% 50%;
      }

      a.twitter {
        background-image: image-url("twitter.svg");
      }

      a.facebook {
        background-image: image-url("facebook.svg");
      }

      a.link {
        background-image: image-url("link.svg");
      }
    }
  }
}

.questions {
  li {
    display: inline-block;
    vertical-align: top;
    height: 297px;
    width: 240px;
    margin-right: 20px;
    font-size: 20px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    span {
      position: absolute;
      bottom: 22px;
      color: $grey-color;
    }
  }

  a {
    position: relative;
    background: $dark-color;
    padding: 22px;
    color: $text-color;
    height: 100%;
  }
}


.button {
  @include box-sizing(border-box);
  display: block;
  border-radius: 3px;
  @include transition(border-bottom-color .25s, color .25s);

  &:hover, &:focus {
    text-decoration: none;
    color: $text-color;
    box-shadow: inset 0px -4px 0 $link-color;
  }

  &:active {
    //make an active state
  }
}
