@import "bourbon";
@import "variables";
@import "mixins";
@import "reset";

.js-visible {
  display: none;
}

.js {
  .js-hidden {
    display: none;
  }

  .js-visible {
    display: block;
  }
}

body {
  background: $bg-color;
}

body, input, textarea {
  color: $text-color;
  font-family: Georgia, serif;
}

input, textarea {
  outline: none;
  border: none;
  resize: none;
}

::-moz-selection {
  @include selection;
}

::selection {
  @include selection;
}

a {
  color: $action-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &.tick {
    background-image: inline-svg("tick.svg");
  }

  &.cross {
    background-image: inline-svg("cross.svg");
  }

  &.facebook {
    background-image: inline-svg("facebook.svg");
  }

  &.twitter {
    background-image: inline-svg("twitter.svg");
  }

  &.link {
    background-image: inline-svg("link.svg");
  }

  &.next::after {
    content: "";
    display: block;
    float: right;
    width: 6px;
    height: 12px;
    margin: 0 -2px 0 10px;
    background-image: inline-svg("next.svg");
    background-size: 6px auto;
  }
}

.progress-bar {
  height: 5px;
  background-color: $bar-color;
  border-radius: 2px;

  div {
    height: 100%;
    background-color: $action-color;
    border-radius: 2px;
  }
}

.content {
  line-height: 1.475;

  // Still used on /ask
  .social {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    text-indent: -9999px;
    overflow: hidden;
    vertical-align: top;

    &:first-of-type {
      margin-left: -5px;
    }
  }
}

.button {
  @include box-sizing(border-box);
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  background: $dark-color no-repeat 50% 50%;
  padding: 17px 19px;
  @include transition(box-shadow .25s, color .25s);

  &, * {
    cursor: pointer;
  }

  &.uppercase {
    font-family: 'Open Sans', sans-serif;
    color: $grey-color;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 1;
  }


  &.action {
    color: #e6e6e6;
    text-align: center;
    @include background-image(linear-gradient(to bottom, #888DB8 0%, #4655AA 1px));
    border: 1px solid #353551;
    font-size: 14px;

    &:active {
      @include background-image(linear-gradient(to bottom, #222222 0%, #4655AA 1px));
    }
  }

  &:hover, &:focus {
    text-decoration: none;
    color: $text-color;
    box-shadow: inset 0px -4px 0 $action-color;
    outline: 0;
  }

  &:active {
    outline: 0;
    @include background-image(linear-gradient(to bottom, #000 0, transparent 2px));
  }
}

section h2, .label-title {
  text-transform: uppercase;
  color: $light-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-weight: 600;
}

section h2 {
  margin: 30px 0 5px;

  &:first-of-type {
    margin-top: 0;
  }
}

.exclamation {
  font-size: 48px;
  line-height: 1;
}

.answers {
  padding-top: 10px;

  .button {
    margin-bottom: 10px;
    padding: 11px 12px;
  }
}

.share {
  li {
    display: inline-block;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    a, button {
      text-indent: -9999px;
      height: 54px;
      cursor: pointer;
    }
  }

  .tooltip {
    width: 400px;
    margin-top: 10px;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $dark-color;
      top: -8px;
      left: 15px;
    }

    textarea {
      @include box-sizing(border-box);
      width: 100%;
      height: 3em;
      font-size: 15px;
      background: transparent;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.02em;
      background-color: $bg-color;
      line-height: 16px;
      padding: 5px;
      border-radius: 2px;
    }
  }
}

.nav-header {
  h1 {
    padding-bottom: 8px;
  }
}

.big-title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.04em;
}

nav {
  line-height: 1;

  h2 {
    padding-bottom: 10px;
  }
}

#logo {
  em {
    color: $red-color;
  }

  a {
    color: $text-color;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.answer {
  h2.icon {
    display: inline-block;
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: 100% 0;
  }

  a {
    display: block;
    font-size: 15px;
  }
}

.share {
  margin-top: $top-margin;
}

.chart {
  position: relative;
  padding-top: 5px;

  rect {
    fill: transparent;
  }

  .bar {
    fill: $bar-color;
    @include transition(fill .3s);

    &.vote {
      fill: $red-color;
    }
    &.correct {
      fill: $green-color;
    }
  }

  text {
    fill: $text-color;
    font-family: Georgia, serif;
    font-size: 20px;
  }

  line {
    stroke: #6b656e;
    stroke-width: 1;
  }

  .tooltip {
    top: 0;
    width: 167px;
    padding-left: 32px;
    background-position: 4px 8px;
    background-repeat: no-repeat;
    margin-left: 10px;

    .label {
      color: $grey-color;
      width: 120px;
    }

    .votePercentage {
      font-size: 28px;
      padding: 4px 0;
    }

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid $dark-color;
      left: -8px;
      top: 7px;
    }

    &.tick {
      border-bottom: 4px solid $green-color;
    }

    &.cross {
      border-bottom: 4px solid $red-color;
    }
  }
}

.tooltip {
  position: absolute;
  @include box-sizing(border-box);
  padding: 10px;
  z-index: 100;
  background: $dark-color;
  color: $text-color;
  visibility: hidden;
  opacity: 0;

  @include transition(opacity .3s, visibility 0s .3s);

  &.visible {
    visibility: visible;
    opacity: 1;

    @include transition(opacity .3s);
  }
}

.card-list {
  li {
    font-size: 20px;
    margin-bottom: 15px;
  }

  a {
    display: block;
    position: relative;
    background: $dark-color;
    padding: 22px;
    color: $text-color;
    height: 100%;
  }
}

// desktop
@media all and (min-width: $desktop-mobile-width) {
  .answers {
    .button {
      width: 180px;
      margin-right: 10px;
    }
  }

  p.question {
    font-size: 48px;
    line-height: 1.35;
  }

  .column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-right: 20px;
    @include box-sizing(border-box);

    &:last-child {
      padding-right: 0;
    }
  }

  .card-list {
    &.questions h4 {
      height: 230px;
    }

    &.quizzes h4 {
      height: 115px;
    }

    li {
      display: inline-block;
      vertical-align: top;
      width: 240px;
      margin-right: 20px;

      h4 {
        overflow: hidden;
        margin-bottom: 1em;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      span {
        position: absolute;
        bottom: 22px;
        color: $grey-color;
      }
    }
  }
}

// mobile
@media all and (max-width: $desktop-mobile-width) {
  .answers {
    .button {
      width: 48%;

      &:nth-child(2n+1) {
        margin-right: 4%;
      }
    }
  }

  p.question {
    font-size: 30px;
  }

  .column {
    width: 70%;
  }

  .scrolled .button.next {
    width: 0;
    text-indent: -9999px;
    opacity: .8;
    padding-left: 25px;
  }
}
