@import "bourbon";
@import "variables";
@import "mixins";
@import "reset";


.js {
  form button, form input, table.results{
    display: none;
  }
}

body {
  background: $bg-color;
}

body, input {
  color: $text-color;
  font-family: Georgia, serif;
}

::-moz-selection {
  @include selection;
}

::selection {
  @include selection;
}

a {
  color: $action-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &.tick {
    background-image: inline-svg("tick.svg");
  }

  &.cross {
    background-image: inline-svg("cross.svg");
  }

  &.facebook {
    background-image: inline-svg("facebook.svg");
  }

  &.twitter {
    background-image: inline-svg("twitter.svg");
  }

  &.link {
    background-image: inline-svg("link.svg");
  }

  &.next::after {
    content: "";
    display: block;
    float: right;
    width: 6px;
    height: 12px;
    margin: 0 -2px 0 10px;
    background-image: inline-svg("next.svg");
    background-size: 6px auto;
  }
}

.progress-bar {
  height: 5px;
  background-color: $bar-color;
  border-radius: 2px;

  div {
    height: 100%;
    background-color: $action-color;
    border-radius: 2px;
  }
}

.content {
  line-height: 1.475;

  .social {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    text-indent: -9999px;
    overflow: hidden;
    vertical-align: top;

    &:first-of-type {
      margin-left: -5px;
    }
  }
}

.button {
  @include box-sizing(border-box);
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  background: $dark-color no-repeat 50% 50%;
  padding: 17px 19px;
  @include transition(box-shadow .25s, color .25s);

  &.uppercase {
    font-family: 'Open Sans', sans-serif;
    color: $grey-color;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 1;
  }

  &.action {
    font-size: 14px;
    color: #e6e6e6;
    text-align: center;
    @include background-image(linear-gradient(to bottom, #888DB8 0%, #4655AA 1px));
    border: 1px solid #353551;

    &, * {
      cursor: pointer;
    }

    &:active {
      outline: 0;
      @include background-image(linear-gradient(to bottom, #222222 0%, #4655AA 1px));
    }
  }

  &:hover, &:focus {
    text-decoration: none;
    color: $text-color;
    box-shadow: inset 0px -4px 0 $action-color;
  }

  &:active {
    outline: 0;
    @include background-image(linear-gradient(to bottom, #000 0, transparent 2px));
  }
}

dt, .section h2, .label-title {
  text-transform: uppercase;
  color: $light-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-weight: 600;
}

dt {
  margin: 30px 0 5px;

  &:first-child {
    margin-top: 0;
  }
}

.exclamation {
  font-size: 48px;
  line-height: 1;
}

#choices {
  padding-top: 10px;

  .button {
    margin-bottom: 10px;
    padding: 11px 12px;
  }
}

nav {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  text-transform: uppercase;

  #logo, h2 {
    font-weight: bold;
  }

  h2 {
    padding-bottom: 10px;
  }
}

#logo {
  em {
    color: $red-color;
  }

  a {
    color: $text-color;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.answer {
  margin-top: 30px;

  dt {
    display: inline-block;
    padding: 2px 25px 0 0;
    background-repeat: no-repeat;
    background-position: 100% 0;
  }

  a {
    display: block;
    font-size: 15px;
  }
}

.chart {
  position: relative;
  padding-top: 5px;

  rect {
    fill: transparent;
  }

  .bar {
    fill: $bar-color;
    @include transition(fill .3s);

    &.vote {
      fill: $red-color;
    }
    &.correct {
      fill: $green-color;
    }
  }

  text {
    fill: $text-color;
    font-family: Georgia, serif;
    font-size: 20px;
  }

  line {
    stroke: #6b656e;
    stroke-width: 1;
  }

  .tooltip {
    top: 0;
    width: 167px;
    padding-left: 32px;
    background-position: 4px 8px;
    background-repeat: no-repeat;
    margin-left: 10px;

    .label {
      color: $grey-color;
      width: 120px;
    }

    .votePercentage {
      font-size: 28px;
      padding: 4px 0;
    }

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid $dark-color;
      left: -8px;
      top: 7px;
    }

    &.tick {
      border-bottom: 4px solid $green-color;
    }

    &.cross {
      border-bottom: 4px solid $red-color;
    }
  }
}

.tooltip {
  position: absolute;
  @include box-sizing(border-box);
  padding: 10px;
  z-index: 100;
  background: $dark-color;
  color: $text-color;
  visibility: hidden;
  opacity: 0;

  @include transition(opacity .3s, visibility 0s .3s);

  &.visible {
    visibility: visible;
    opacity: 1;

    @include transition(opacity .3s);
  }
}

