@import "variables";

$side-margin: 20px;

.embedded {
  section {
    margin: $side-margin;
  }

  nav {
    background-color: $dark-color;
    padding: 15px $side-margin;
  }

  // desktop
  @media all and (min-width: $desktop-mobile-width) {
    #logo {
      float: right;
    }

    nav {
      .label-title {
        padding: 10px 0;
      }
    }
  }

  // mobile
  @media all and (max-width: $desktop-mobile-width) {
    nav {
      .label-title {
        padding: 10px 0;
      }
      h1 {
        padding-bottom: 15px;
      }
    }
  }
}