@import "variables";

$side-margin: 20px;

.embedded {
  section {
    margin: $side-margin;
  }

  nav {
    background-color: $dark-color;
    padding: 5px $side-margin;
  }

  #logo {
    float: right;
  }
}