@import "bourbon";
@import "variables";

$desktop-mobile-width: 38em;
$side-margin: 20px;

.embedded {
  section {
    margin: 0 $side-margin;
  }

  nav {
    background-color: $dark-color;
    padding: 15px $side-margin;
  }

  .wide {
    // don't use display: none because it breaks getBBox() in Firefox
    // FIXME: this is unreliable
    visibility: hidden !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }

  .next {
    position: fixed;
    bottom: 30px;
    right: 0;
  }

  nav {
    .label-title {
      padding: 10px 0;
    }
  }

  .column {
    margin-top: $top-margin;
  }

  // desktop
  @media all and (min-width: $desktop-mobile-width) {
    #logo {
      float: right;
    }

    #choices {
      .button {
        width: 180px;
        margin-right: 10px;
      }
    }

    h1.question {
      font-size: 48px;
      line-height: 1.35;
    }

    nav {
      #logo, h2 {
        font-size: 22px;
        letter-spacing: 0.04em;
      }

      .progress-bar {
        width: 40%;
      }
    }

    .share {
      li {
        margin-right: 10px;

        a, button {
          width: 46px;
        }
      }
    }

    .column {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding-right: 20px;
      @include box-sizing(border-box);

      &:last-child {
        padding-right: 0;
      }
    }
  }

  // mobile
  @media all and (max-width: $desktop-mobile-width) {
    /* Add padding so that Next button doesn't cover content */
    #main {
      padding-bottom: 5em;
    }

    nav {
      h1 {
        padding-bottom: 15px;
      }

      .progress-bar {
        width: 100%;
      }

      #logo {
        font-size: 18px;
        position: relative;
      }
    }

    #choices {
      .button {
        width: 48%;

        &:nth-child(2n+1) {
          margin-right: 4%;
        }
      }
    }

    h1.question {
      font-size: 30px;
    }

    .share {
      li {
        width: 48%;

        a {
          width: 100%;
        }

        &:nth-child(2n+1) {
          margin-right: 4%;
        }

        &.link {
          display: none;
        }
      }
    }

    .column {
      width: 70%;
    }
  }
}
