@import "bourbon";
@import "variables";

$side-margin: 20px;

.embedded {
  section {
    margin: $side-margin;
  }

  nav {
    background-color: $dark-color;
    padding: 15px $side-margin;
  }

  .wide {
    // don't use display: none because it breaks getBBox() in Firefox
    // FIXME: this is unreliable
    visibility: hidden !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }

  .column {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-right: 20px;
    @include box-sizing(border-box);

    &:last-child {
      padding-right: 0;
    }
  }

  .next {
    position: fixed;
    bottom: 30px;
    right: 0;
  }

  // desktop
  @media all and (min-width: $desktop-mobile-width) {
    #logo {
      float: right;
    }

    nav {
      .label-title {
        padding: 10px 0;
      }
    }
  }

  // mobile
  @media all and (max-width: $desktop-mobile-width) {
    nav {
      .label-title {
        padding: 10px 0;
      }
      h1 {
        padding-bottom: 15px;
      }
    }
  }
}
