// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[role="button"] {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: white;
  display: block;
  margin-bottom: 10px;
  background-color: $med-color;
  text-transform: uppercase;
  padding: 15px 12px 12px;
  width: 180px;
  float: left;
  margin-right: 10px;
  text-align: center;
  @include box-sizing(border-box);
  cursor: pointer;
  border-bottom: 4px solid transparent;

  @include transition(border-bottom .15s, color .15s);

  &:hover, &:focus {
    border-bottom: 4px solid $red-color;
    color: $red-color;
  }
  &:active {
    background-color: $dark-color;
  }
}

#choices {
  padding-top: 10px;
}

.chart {
  rect {
    fill: transparent;
  }
  text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;

  }

  .bar {
    fill: $dark-color;
    @include transition(fill .3s);

    &.vote {
      fill: $red-color;
    }
    &.correct {
      fill: $green-color;
    }
  }
}

.js {
  button, input, table.results{
    display: none;
  }
}

dt, .content > h2, .left > h2, .label-title {
  text-transform: uppercase;
  color: $light-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-weight: 600;
}


dt {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
}

dd {
  padding-top: 4px;
}

.chart {
  padding-top: 5px;
  text.label {
    fill: #fff;
    font-family: Georgia, serif;
    font-size: 20px;
  }
}

dl#question {
  width: 75%;
}

dl#correct-answer, dl#your-answer {
  width: 50%;
  padding-top: 25px;
  a {
    font-size: 15px;
    position: relative;
    top: -8px;
  }
}

dl#correct-answer {
  background: image-url("tick.svg") no-repeat;
  margin-top: 40px;
}

dl#your-answer {
  background: image-url("cross.svg") no-repeat;
  float: right;
  margin-top: -112px;
}

dl#other {
  margin-top: 30px;
  .howwrong {
    font-size: 48px;
  }
  img.social {
    margin-right: 15px;
    position: relative;
    top: -8px;
  }
}

h2.question {
  font-size: 48px;
}

.tooltip {
  position: absolute;
  top: 0;
  width: 125px;
  padding: 5px;
  z-index: 100;
  background: $dark-color 4px 8px no-repeat;
  color: #fff;
  height: 100px;
  visibility: hidden;
  opacity: 0;
  padding-left: 32px;
  padding-top: 10px;

  .label {
    color: $grey-color;
    width: 120px;
  }

  .bottom {
    position: absolute;
    bottom: 13px;
  }

  .votePercentage {
    font-size: 28px;
    position: relative;
    top: 8px;
  }

  @include transition(opacity .3s, visibility 0s .3s);

  &.visible {
    visibility: visible;
    opacity: 1;

    @include transition(opacity .3s);
  }

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid $dark-color;
    left: -8px;
    top: 7px;
  }

  &.correct {
    background-image: image-url("tick.svg");
    border-bottom: 4px solid $green-color;
  }
  &.wrong {
    background-image: image-url("cross.svg");
    border-bottom: 4px solid $red-color;
  }
}

