// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

h2 {
  font-weight: normal;
  font-size: 48px;
  color: white;
  padding-top: 10px;
  line-height: 48px;
}

label.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: white;
  display: block;
  margin-bottom: 10px;
  background-color: $med-color;
  text-transform: uppercase;
  padding: 13px 12px 12px 12px;
  width: 180px;
  height: 52px;
  float: left;
  margin-right: 10px;
  text-align: center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  &:hover {
    cursor: pointer;
    border-bottom: 4px solid $red-color;
    color: $red-color;
  }
  &:active {
    background-color: $dark-color;
  }
}

#choices {
  padding-top: 10px;
}

.chart {
  rect {
    fill: $dark-color;
  }
  text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;

  }
}

.bar {
  &:hover {
    fill: $red-color;
  }
  &.vote {
    fill: $red-color;
  }
  &.correct {
    fill: $green-color;
  }
}

.js {
  button, input, table.results{
    display: none;
  }
}

dt {
  text-transform: uppercase;
  color: $light-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0.02em;
  padding-top: 30px;
  font-weight: 600;
}

dd {
  padding-top: 8px;
}

.chart {
  padding-top: 5px;
  text.label {
    fill: #fff;
    font-family: Georgia, serif;
    font-size: 24px;
  }
}

dl#question {
  display: block;
  width: 260px;
  position: absolute;
}

dl#info {
  margin-left: 400px;
}

body dd {
  font-size: 20px;
  line-height: 26px;
}

.tooltip {
    position: absolute;
    top: -5px;
    left: 60px;
    width: 125px;
    padding: 5px;
    z-index: 100;
    background: #000;
    color: #fff;
    -moz-border-radius: 5px; /* this works only in camino/firefox */
    -webkit-border-radius: 5px; /* this is just for Safari */
    height: 150px;
}



.tooltip {
    position: relative;
}

.tooltip span {
    display: none;
    position: absolute;
    top: -5px;
    left: 60px;
    width: 125px;
    padding: 5px;
    z-index: 100;
    background: #000;
    color: #fff;
    -moz-border-radius: 5px; /* this works only in camino/firefox */
    -webkit-border-radius: 5px; /* this is just for Safari */
    height: 400px;
}

.tooltip span:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right:8px solid black;
    left:-8px;

    top:7px;
}

a:hover.tooltip {
    font-size: 99%; /* this is just for IE */
}

a:hover.tooltip span {
    display: block;
}

