@import "bourbon";
@import "variables";
@import "mixins";

$desktop-mobile-width: 60em;

.standalone {
  $nav-margin: 220px;

  background: $alt-dark-color;

  #main {
    background: $bg-color;
  }

  .content {
    position: relative;
    font-size: 24px;
  }

  nav {
    li {
      .button {
        display: block;
      }
    }
  }

  footer {
    .label-title {
      font-size: 10px;
    }
  }

  .questions {
    li {
      font-size: 20px;
      margin-bottom: 15px;
    }

    a {
      display: block;
      position: relative;
      background: $dark-color;
      padding: 22px;
      color: $text-color;
      height: 100%;
    }
  }

  .moiz-juliusz {
    display: block;
    margin: 3em 0 1em 0;
  }

  #logo {
    a {
      background-color: $dark-color;
      display: block;
    }
  }

  .column {
    margin-top: $top-margin;
  }

  // desktop
  @media all and (min-width: $desktop-mobile-width) {
    .content {
      padding: $top-margin 0 0 $nav-margin;
      margin: 0 auto;
      width: 760px;
    }

    #main {
      min-height: 330px;
      padding-bottom: 50px;
    }

    nav {
      position: absolute;
      top: 0;
      left: 0;

      li {
        display: block;
        margin: 10px 0;
      }
    }

    .button.next {
      position: absolute;
      top: 0;
      right: 0;
    }

    #hamburger {
      display: none;
    }

    #logo {
      width: 158px;

      a {
        padding: 10px 5px;
      }

      span {
        display: block;
        margin: 12px;
      }
    }

    .share {
      li {
        margin-right: 10px;

        a, button {
          width: 46px;
        }
      }
    }

    footer {
      padding: 40px 0px 40px;

      .content {
        border-top: 3px solid $light-color;
      }
    }

    .questions {
      li {
        display: inline-block;
        vertical-align: top;
        height: 297px;
        width: 240px;
        margin-right: 20px;

        h4 {
          overflow: hidden;
          height: 230px;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }

        span {
          position: absolute;
          bottom: 22px;
          color: $grey-color;
        }
      }
    }
  }

  // mobile
  @media all and (max-width: $desktop-mobile-width) {
    $hamburger-width: 54px;

    & {
      // prevent font scaling in mobile Safari
      -webkit-text-size-adjust: none;
    }

    :focus {
      outline: 0;
    }

    #main {
      padding-bottom: 30px;
    }

    .content {
      section {
        padding: 40px 15px 0;
      }
    }

    nav {
      ul {
        max-height: 0;
        overflow: hidden;
        // needed to cover next button when nav open
        position: relative;
        z-index: 2;
        background: $bg-color;

        @include transition(max-height .25s);

        &.visible {
          max-height: 6em;
        }

        li {
          margin-top: 2px;
          text-align: center;
        }
      }
    }

    .button.next {
      position: fixed;
      z-index: 1;
      top: 5em;
      right: 0;

      @include transition(opacity .25s);
    }

    .scrolled .button.next {
      width: 0;
      text-indent: -9999px;
      opacity: .8;
      padding-left: 10px;
    }

    #hamburger {
      position: absolute;
      top: 0;
      left: 0;
      width: $hamburger-width;
      height: 100%;
      text-indent: -9999px;
      background: inline-svg("hamburger.svg") no-repeat 50% 50%;
      opacity: .8;
    }

    #logo {
      a {
        padding: 15px ($hamburger-width/1.5) 15px $hamburger-width;
      }
    }

    .share {
      li {
        width: 48%;

        a {
          width: 100%;
        }

        &:nth-child(2n+1) {
          margin-right: 4%;
        }

        &.link {
          display: none;
        }
      }
    }
  }

  // old questions.css

  h2 {
    margin-bottom: 5px;
  }

  footer h2 {
    margin-bottom: 15px;
  }

  // desktop
  @media all and (min-width: $desktop-mobile-width) {
    .chart {
      max-width: 600px;

      text {
        text-anchor: end;
      }
    }

    .narrow {
      // don't use display: none because it breaks getBBox() in Firefox
      // FIXME: this is unreliable
      visibility: hidden !important;
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
    }

    dl.question {
      width: 75%;
    }

    #choices {
      .button {
        width: 180px;
        margin-right: 10px;
      }
    }

    p.question {
      font-size: 48px;
      line-height: 1.35;
    }

    nav {
      #logo, h2 {
        font-size: 22px;
        letter-spacing: 0.04em;
      }

      .progress-bar {
        width: 40%;
      }
    }

    .column {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding-right: 20px;
      @include box-sizing(border-box);

      &:last-child {
        padding-right: 0;
      }
    }
  }

  // mobile
  @media all and (max-width: $desktop-mobile-width) {
    .wide {
      // don't use display: none because it breaks getBBox() in Firefox
      // FIXME: this is unreliable
      visibility: hidden !important;
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
    }

    #logo {
      text-align: center;
    }

    #choices {
      .button {
        width: 48%;

        &:nth-child(2n+1) {
          margin-right: 4%;
        }
      }
    }

    h1.question {
      font-size: 30px;
    }

    nav {
      .progress-bar {
        width: 100%;
      }

      #logo {
        font-size: 18px;
        position: relative;
      }
    }

    .column {
      width: 70%;
    }
  }
}

