$bg-color: #2E232B;
$red-color: #FF4130;
$grey-color: #d2d1d2;
$primary-color: #293939;
$dark-color: #1f171d;
$darker-color: #292228;
$light-color: #949094;
$med-color: #4D3A47;
$green-color: #16EA8B;
$alt-dark-color: #3a343c;
$link-color: #7E93FA;
$text-color: #fff;

// $bg-color: #EAF2EE;
// $red-color: #FF4130;
// $grey-color: #d2d1d2;
// $primary-color: #07114C;
// $dark-color: #07114C;
// $darker-color: #292228;
// $light-color: #949094;
// $med-color: #4D3A47;
// $green-color: #16EA8B;
// $alt-dark-color: #020524;
// $link-color: #7E93FA;
// $text-color: #07114C;