$bg-color: #2E232B;
$red-color: #FF4130;
$grey-color: #d2d1d2;
$primary-color: #293939;
$dark-color: #1f171d;
$darker-color: #292228;
$light-color: #949094;
$med-color: #4D3A47;
$green-color: #16EA8B;
$alt-dark-color: #403942;
$alt-med-color: #4c4550;