$desktop-mobile-width: 40em;

$bg-color: #2E232B;
$red-color: #FF4130;
$grey-color: #d2d1d2;
$primary-color: #293939;
$dark-color: #1f171d;
$darker-color: #292228;
$light-color: #949094;
$med-color: #4D3A47;
$green-color: #16EA8B;
$alt-dark-color: #3a343c;
$link-color: #7E93FA;
$text-color: #fff;
$bar-color: #51414C;

// $bg-color: #f1f1ef;
// $red-color: #FF4130;
// $green-color: #16EA8B;
// $grey-color: #888888;
// $primary-color: #000000;
// $dark-color: #dadad2;
// $darker-color: #292228;
// $light-color: #949094;
// $med-color: #4D3A47;
// $alt-dark-color: #E3E3E3;
// $link-color: #7E93FA;
// $text-color: #50514a;

